html, body, #root, .app {
  height: 100%;
  background-color: #fbfbfb;
  color: #333;
}

.app__input {
  background-color: #fbfbfb;
  color: #333;
  border: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.app__section {
  text-align: center;
  padding: 15px;
}

.error, .accuracy {
  flex: 1;
  margin-top: 20px;
}

.app__text {
  font-size: 3em;
  flex: 20
}
